<ion-header>
  <ion-toolbar>
    <ion-title>Login as Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/log-in-as']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="login">Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="userInput">
      <div class="userName">
        <ion-icon class="icon" size="large" name="person-sharp"></ion-icon> 
        <ion-input id="name" type="text" placeholder="Username"></ion-input>
      </div>
      <div class="userPass">
        <ion-icon class="icon" size="large" name="lock-closed"></ion-icon> 
        <ion-input id="pass" type="password" placeholder="Password"></ion-input>
      </div>
      <p id="forgotpw">Forgot Your Password?</p>
      <div class="rememberMe">
        <ion-button id="logIn" [routerLink]="['/home-client']" size="small" expand="block" fill="outline">Log in</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <p id="or">or</p>
  <p id="new">New to DormALike?</p>
  <ion-button id="register" [routerLink]="['/register-client']" expand="default" fill="outline">Register for Free</ion-button>
</ion-content>
