#logo {
    display: block;
    max-width: 180px;
    max-height: auto;
    margin: auto;
}

ion-card-title {
    font-family: 'Lucida Sans Unicode';
}

p {
    margin-bottom: 25px;
}

ion-button {
    width: 300px;
    height: 60px;
    margin: auto;
    padding-bottom: 5px;
    font-size: 14px;
}

ion-icon {
    margin-left: 10px;
    width: 37px;
    height: 37px;
}