ion-card-title {
    font-family: 'Lucida Sans Unicode';
}

ion-icon {
    margin-top: 10px;
    margin-left: 10px;
    width: 37px;
    height: 37px;
}

#update {
    margin-top: 15px;
}

#content {
    margin-top: 15px;
}