<ion-header>
  <ion-toolbar>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-icon name="arrow-back-circle-outline"></ion-icon>

  <ion-card-header>
    <ion-card-subtitle>DormAlike</ion-card-subtitle>
    <ion-card-title>Terms and Conditions</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
    </p>
    <div id="update">
      <h4>Last Updated: </h4>
    </div>
    
    <div id="content">
      <p>
        content
      </p>
    </div>
    

    
  </ion-card-content>

</ion-content>
