#logo {
    display: block;
    max-width: 130px;
    max-height: auto;
    margin: auto;
}

.return {
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
}

#return-home {
    padding-top: 15px;
}

h6 {
    padding-top: 1px;
    padding-left: 5px;
    font-size: 15px;
}

#login {
    text-align: center;
    font-size: 25px;
    color: black;
}

.userInput {
    
}

.userName {
    display: flex;
}

#name {
    margin-left: 15px;
}

.userPass {
    display: flex;
    margin-top: 10px;
}

#pass {
    margin-left: 15px;
}

#forgotpw {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 14px;
    color: darkgoldenrod;
}

.rememberMe {
    display: flex;
}

#rememberBox {
    --border-radius: 5px;
    --border-color: black;
    --border-width: 2px;
    --size: 20px;
    margin-top: 18px;
    margin-left: 3px;
}

#remember {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 13px;
}

#logIn {
    margin-top: 10px;
    margin-left: 115px;
    --border-radius: 6px;
    font-size: 15px;
    
}

#or {
    text-align: center;
    font-size: 15px;
    color: gray;
}

#new {
    text-align: center;
    padding-bottom: 5px;
    font-size: 14px;
    color: gray;
}

#register {
    margin-left: 120px;
    --border-radius: 6px;
    font-size: 15px;
}