<ion-header>
  <ion-toolbar>
    <ion-title>houseDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/home']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>
  
  <ion-card class="card">
    <h1 id="house-name">Bourbon Bliss</h1>
  </ion-card>

  <ion-card class="house-content">
    <ion-img src="assets/img/house1.jpg"></ion-img>

    <ion-card-content>
      <ion-card-subtitle id="location"><ion-icon size="large" name="pin"></ion-icon>Alangilan, Batangas City</ion-card-subtitle>
      <h1>Description</h1>
      <p>Bourbon Bliss provides lively, semi-furnished bedspace for rent in Alangilan, Batangas City, near schools like BatStateU - Alangilan, BatStateU - Main, LPU, UB, and mall namely SM Batangas. Its coliving areas enable networking opportunities over meals and late night couch chit chats with roomies.</p>

      <ion-icon id="star-rating" size="small" name="star"></ion-icon><ion-icon id="star-rating" size="small" name="star"></ion-icon><ion-icon id="star-rating" size="small" name="star"></ion-icon><h2>3.0 rating</h2>
    </ion-card-content>
  </ion-card>

  <div class="house-info">
    <ion-card-subtitle class="info-title">Category</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="list-outline"></ion-icon> Room Rent</p><br>

    <ion-card-subtitle class="info-title">Reservation Fee</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="pricetags-outline"></ion-icon> PHP 1,000</p><br>

    <ion-card-subtitle class="info-title">Monthly Fee</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="cash-outline"></ion-icon> PHP 2,500</p><br>
  </div>

  <div class="house-info-cont">
    <ion-card-subtitle class="info-title">Room Count</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="bed-outline"></ion-icon> 6 rooms</p><br>

    <ion-card-subtitle class="info-title">Room Available</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="bed"></ion-icon> 3 rooms</p><br>

    <ion-card-subtitle class="info-title">Space</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="home-outline"></ion-icon> 2500 square feet</p><br>
  </div>

  <ion-card class="card-facilities">
    <ion-card-content>
      <div class="facilities">
        <ion-card-subtitle class="info-title">Facilities</ion-card-subtitle>
        <div class="facility-1">
          <p class="features"><ion-icon size="small" name="wifi"></ion-icon> Wifi</p>
          <p class="features"><ion-icon size="small" name="book"></ion-icon> Study Area</p>
          <p class="features"><ion-icon size="small" name="fast-food"></ion-icon> Kitchen</p>
        </div>
        <div class="facility-2">
          <p class="features"><ion-icon size="small" name="water"></ion-icon> Laundry Area</p>
          <p class="features"><ion-icon size="small" name="car-sport"></ion-icon> Parking</p>
          <p class="features"><ion-icon size="small" name="camera"></ion-icon> CCTV</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="owner">
    <ion-card-subtitle class="info-title">Owner's Contact Details</ion-card-subtitle>
    <p class="info-owner"><ion-icon size="small" name="call"></ion-icon> 0912-345-6789</p>
    <p class="info-owner"><ion-icon size="small" name="logo-facebook"></ion-icon> Thomas Edison</p>
  </div>

  <div class="note">
    <p id="note-content">By clicking 'Reserve' you have already read and understand the Terms and Conditions.</p>
  </div>

  <div class="button-cont">
    <div class="prefer">
      <ion-button id="prefer-button" expand="block" fill="outline">Add to Preferences</ion-button>
    </div>
    <div class="reserve">
      <ion-button id="reserve-button" expand="block" fill="outline">Reserve</ion-button>
    </div>
  </div>

  

  
  

</ion-content>