<ion-app>
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>DormALike</ion-title>
      </ion-toolbar>

      <ion-content class="side-menu">
        <div class="person">
          <div class="person-icon">
            <ion-icon id="person-icon-circle" name="person-circle-outline"></ion-icon>
          </div>

          <div class="person-info">
            <ion-text>
              <p id="client-name">Client Name</p>
            </ion-text>
            <ion-text>
              <p id="client-email">client_name@gmail.com</p>
            </ion-text>
          </div>
        </div>

        <div>
        <ion-list lines="none">
          <ion-item> 
            <ion-label class="client-options"> Home </ion-label>
            <ion-icon class="option-icons" slot="start" name="home-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <ion-label class="client-options"> My Profile </ion-label>
            <ion-icon class="option-icons" slot="start" name="person-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <ion-label class="client-options"> My Preferences </ion-label>
            <ion-icon class="option-icons" slot="start" name="heart-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <ion-label class="client-options"> Reserved Property </ion-label>
            <ion-icon class="option-icons" slot="start" name="checkmark-circle-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <ion-label class="client-options"> Privacy Policy </ion-label>
            <ion-icon class="option-icons-2" slot="start" name="eye-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <ion-label class="client-options"> Terms and Conditions </ion-label>
            <ion-icon class="option-icons-2" slot="start" name="alert-circle-outline"></ion-icon>
          </ion-item>
        </ion-list>
        </div>

        <div class="logout-container">
          <ion-item lines="none"> 
            <ion-label id="client-logout"> Log Out </ion-label>
            <ion-icon id="logout-icon" slot="start" name="log-out-outline"></ion-icon>
          </ion-item>
        </div>



      </ion-content>
    </ion-header>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
