
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>DormALike</ion-title>
      </ion-toolbar>

      <ion-content class="side-menu">
        <div class="person">
          <div class="person-icon">
            <ion-icon id="person-icon-circle" name="person-circle-outline"></ion-icon>
          </div>

          <div class="person-info">
            <ion-text>
              <p id="client-name">Isaac Newton</p>
            </ion-text>
            <ion-text>
              <p id="client-email">isaacnewts@gmail.com</p>
            </ion-text>
          </div>
        </div>

        <div>
        <ion-list lines="none">
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/home-client']"> Home </ion-button></p>
            <ion-icon class="option-icons" slot="start" name="home-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/profile-client']"> My Profile </ion-button></p>
            <ion-icon class="option-icons" slot="start" name="person-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/preferences-client']"> My Preferences </ion-button></p>
            <ion-icon class="option-icons" slot="start" name="heart-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/reserved-property-client']"> Reserved Property </ion-button></p>
            <ion-icon class="option-icons" slot="start" name="checkmark-circle-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/privacy-policy']"> Privacy Policy </ion-button></p>
            <ion-icon class="option-icons-2" slot="start" name="eye-outline"></ion-icon>
          </ion-item>
          <ion-item> 
            <p class="button"><ion-button [routerLink]="['/terms-and-conditions']"> Terms and Conditions </ion-button></p>
            <ion-icon class="option-icons-2" slot="start" name="alert-circle-outline"></ion-icon>
          </ion-item>
        </ion-list>
        </div>

        <div class="logout-container">
            <p class="footer">2022 DormAlike <ion-icon size="small" name="home-sharp"></ion-icon></p>
            
        </div>



      </ion-content>
    </ion-header>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>

