<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-icon name="arrow-back-circle-outline"></ion-icon>
  

  <ion-card-header>
    <ion-card-subtitle>DormAlike</ion-card-subtitle>
    <ion-card-title>Privacy Policy</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
      opening remarks <br>
    </p>

    <ion-button expand="block" fill="outline"> What information do we collect about you? </ion-button>
    <ion-button expand="block" fill="outline"> How do we use your information? </ion-button>
    <ion-button expand="block" fill="outline"> To whom do we disclose your information? </ion-button>
    <ion-button expand="block" fill="outline"> What do we do to keep your information secure? </ion-button>
  </ion-card-content>
</ion-content>