#back {
    margin-top: 15px;
    margin-left: 11px;
    width: 40px;
    height: 40px;
}

#back-box {
    background-color: white;
}

.card {
    background-color: #0C3B2E;
    height: 70px;
}

#house-name {
    padding-left: 85px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
    font-size: 27px;
}

.house-content {
    background-color: #EEEEEE;
    border-bottom: 5px solid #0C3B2E;
}

#location {
    font-size: 18px;
    color: black;
    padding-bottom: 10px;
}

h1 {
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

p {
    text-align: justify;
    color: black;
}

#star-rating {
    color: gold;
    margin-top: 15px;
}

h2 {
    margin-top: 15px;
    margin-right: 170px;
    float: right;
    color: black;
}

.house-info {
    margin-left: 20px;
    width: 140px;
    height: 160px;
    float: left;

}
.info-title {
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

.features {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}


.house-info-cont {
    margin-right: 20px;
    width: 140px;
    height: 160px;
    float: right;
    
}
.card-facilities {
    width: 335px;
    height: 130px;
    display: inline-block;
    border-top: 3px solid grey;
}

.facilities {
    width: 335px;
    height: 90px;   
}

.facility-1 {
    margin-left: 40px;
    width: 120px;
    float: left;
}

.facility-2 {
    margin-right: 40px;
    width: 120px;
    float: right;
}

.owner {
    width: 250px;
    height: 70px;
    margin-left: 20px;
}

.info-owner {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 5px;
}

.note {
    border-left: 3px solid red;
    border-radius: 10px;
    background-color: #EEEEEE;
    margin-left: 20px;
    width: 332px;
    height:60px;
}

#note-content {
    text-align: justify;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
}

.button-cont {
    width: 375px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.prefer {
    width: 160px;
    height: 50px;
    float: left;
    margin-left: 16px;
}

.reserve {
    width: 160px;
    height: 50px;
    float: right;
    margin-right: 16px;
}


#reserve-button {
    --border-width: 1px;
    --border-radius: 6px;
    --border-color: #013220;
    width: 155px;
    height: 38px;
    color: #013220;
    font-weight: bold;
    font-size: 15px;
}

#prefer-button {
    --border-width: 1px;
    --border-radius: 6px;
    --border-color: #0b6cbb;
    width: 155px;
    height: 38px;
    color: #0b6cbb;
    font-weight: bold;
    font-size: 15px;
}