<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/logo-monochrome.png"></ion-img>

  <div class="title">
    <h1 id="req"><ion-icon slot="start" size="default" name="bookmarks-outline"></ion-icon> Requests</h1>
  </div>

  <div class="req-cont-1">
    <div class="req-text">
      <ion-text class="n-req"><ion-icon size="small" name="mail-outline"></ion-icon> N Reservation Request</ion-text>
    </div>
    <div class="req-button">
      <ion-button class="view-req" fill="outline">View</ion-button>
    </div>    
  </div>

  <div class="req-cont-2">
    <div class="req-text">
      <ion-text class="n-req"><ion-icon size="small" name="mail-unread-outline"></ion-icon> N Pending Request</ion-text>
    </div>
    <div class="req-button">
      <ion-button class="view-req" fill="outline">View</ion-button>
    </div>   
  </div>

  <div class="req-cont-3">
    <div class="req-text">
      <ion-text class="n-req"><ion-icon size="small" name="checkmark-done-outline"></ion-icon> N Completed Reservation</ion-text>
    </div>
    <div class="req-button">
      <ion-button class="view-req" fill="outline">View</ion-button>
    </div>   
  </div>

  <div class="title">
    <h1 id="req"><ion-icon slot="start" size="default" name="podium-outline"></ion-icon> Visitors</h1>
  </div>
  
  <canvas #barCanvas style="position: relative; height:24vh; width:54vw"></canvas>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" class="tab-info">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>10</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="post" class="tab-info">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Post</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" class="tab-info">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="logout" class="tab-info">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
