<ion-header>
  <ion-toolbar>
    <ion-title>Register as Owner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/register-as']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Register </ion-card-title>
      <div id="note">
        <ion-label> Create your account. It's free and will only take few minutes.</ion-label>
    </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="infoName">
        <ion-input id="fname" type="text" placeholder="First Name"></ion-input>
        <ion-input id="lname" type="text" placeholder="Last Name"></ion-input>
      </div>
      <div>
        <ion-input id="email" type="text" placeholder="Email"></ion-input>
        <ion-input id="usern" type="text" placeholder="Username"></ion-input>
        <ion-input id="pw" type="password" placeholder="Password"></ion-input>

        <ion-checkbox id="acceptbox"></ion-checkbox>
        <ion-label id="accept">I accept the Terms and Conditions & <br> &nbsp; &nbsp; &nbsp; Privacy Policy.</ion-label>
      </div>
      
      <div>
        <ion-button id="register" [routerLink]="['/home-owner']" size="small" expand="block" fill="outline"> Register </ion-button>
      </div>

      <div class="container-bottom">
        <div class="haveAcc-cont">
          <p id="haveAcc"> Already have an account?</p> 
        </div>
        <div class="acct-login-cont">
          <ion-button id="acct-login" [routerLink]="['/log-in-as']" fill="none">Log in</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
