<ion-header>
  <ion-toolbar>
    <ion-title>House Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/home']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>
  
  <ion-card class="card">
    <h1 id="house-name">Villa Florence</h1>
  </ion-card>

  <ion-card class="house-content">
    <ion-img src="assets/img/house10.jpg"></ion-img>

    <ion-card-content>
      <ion-card-subtitle id="location"><ion-icon size="large" name="pin"></ion-icon>Alangilan, Batangas City</ion-card-subtitle>
      <h1>Description</h1>
      <p>Villa Florence is a coliving space of semi-furnished bedspace for rent in Alangilan, Batangas City. </p>

      <ion-icon id="star-rating" size="small" name="star"></ion-icon><h2>3.5 rating</h2>
    </ion-card-content>
  </ion-card>

  <div class="house-info">
    <ion-card-subtitle class="info-title">Category</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="list-outline"></ion-icon> Bed Space</p><br>

    <ion-card-subtitle class="info-title">Reservation Fee</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="pricetags-outline"></ion-icon> PHP 1,500</p><br>

    <ion-card-subtitle class="info-title">Monthly Fee</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="cash-outline"></ion-icon> PHP 2,500</p><br>
  </div>

  <div class="house-info-cont">
    <ion-card-subtitle class="info-title">Room Count</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="bed-outline"></ion-icon> 5 rooms</p><br>

    <ion-card-subtitle class="info-title">Room Available</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="bed"></ion-icon> 2 rooms</p><br>

    <ion-card-subtitle class="info-title">Space</ion-card-subtitle>
    <p class="features"><ion-icon size="small" name="home-outline"></ion-icon> 250 square feet</p><br>
  </div>

  <ion-card class="card-facilities">
    <ion-card-content>
      <div class="facilities">
        <ion-card-subtitle class="info-title">Facilities</ion-card-subtitle>
        <div class="facility-1">
          <p class="features"><ion-icon size="small" name="wifi"></ion-icon> Wifi</p>
          <p class="features"><ion-icon size="small" name="book"></ion-icon> Study Area</p>
        </div>
        <div class="facility-2">
          <p class="features"><ion-icon size="small" name="fast-food"></ion-icon> Kitchen</p>
          <p class="features"><ion-icon size="small" name="car-sport"></ion-icon> Parking</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="note">
    <p id="note-content"><b>Note: </b>Kindly login (or create an account) in order to access our offered services for free.</p>
  </div>

  <div class="button-cont">
    <div class="log-reg">
      <ion-button id="log-reg-button" [routerLink]="['/get-started']" expand="block" fill="outline">Login or Register</ion-button>
    </div>
  </div>
</ion-content>






