ion-content {
    
}

#logo {
    max-width: 250px;
    max-height: auto;
    margin: auto;
    margin-top: 70px;
}

#caption {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    font-family: Tahoma;
}

#startReg {
    margin-top: 85px;
    --border-radius: 4px;
    font-size: 16px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

#startLogin {
    margin-top: 10px;
    --border-radius: 4px;
    font-size: 16px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

#skip {
    --border-color: none;
    --border-width: 0px;
    outline: none;
    color: #3880ff;
    margin-top: 30px;

}

ion-icon {
    padding-left: 5px;
}

.legalNote {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

#policy {
    margin: auto;

}

#terms {
    margin: auto;

}