ion-menu-button {
    color: #171717;
}

ion-img {
    display: block;
    max-width: 170px;
    max-height: auto;
    margin: auto;
}

#back {
    margin-left: 11px;
    width: 40px;
    height: 40px;
}

#back-box {
    background-color: white;
}

.icons {
    width: 21px;
    height: 21px;
    padding-top: 4px;
    font-family: Tahoma;
}

#title-prof {
     font-family: Verdana;
     margin-left: 20px;
     color: rgb(185, 105, 29);
}

.text-prof {
    font-size: 15px;
    padding-left: 19px;
    color: rgb(66, 66, 66);
}

.text-info {
    color: black;
}

.infos {
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

.card-prof-1 {
    border-bottom: 1px solid grey;
    border-radius: 7px;
    width: 340px;
    height: 37px;
    color: rgb(49, 43, 43);
    background: #fafafa;
    margin-top: 20px;
    margin-left: 15px;
}

.card-prof-2 {
    border-bottom: 1px solid grey;
    border-radius: 7px;
    width: 340px;
    height: 37px;
    color: rgb(49, 43, 43);
    background: #fafafa;
    margin-top: 20px;
    margin-left: 15px;
}

.card-prof-3 {
    border-bottom: 1px solid grey;
    border-radius: 7px;
    width: 340px;
    height: 37px;
    color: rgb(49, 43, 43);
    background: #fafafa;
    margin-top: 20px;
    margin-left: 15px;
}

.card-prof-4 {
    border-bottom: 1px solid grey;
    border-radius: 7px;
    width: 340px;
    height: 37px;
    color: rgb(49, 43, 43);
    background: #fafafa;
    margin-top: 20px;
    margin-left: 15px;
}

.card-prof-5 {
    border-bottom: 1px solid grey;
    border-radius: 7px;
    width: 340px;
    height: 37px;
    color: rgb(49, 43, 43);
    background: #fafafa;
    margin-top: 20px;
    margin-left: 15px;
}

#edit-prof {
    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: 115px;
    font-size: 14px;
    color: #FF4F1F;
    --border-color: #FF4F1F;
}