<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/get-started']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>
  
  <ion-card>
    <ion-card-title><ion-icon size="default" name="bookmarks-sharp"></ion-icon> Privacy Policy</ion-card-title>
  </ion-card>

  <p class="intro-msg">
    DormAlike is mobile marketplace application which contains the different boarding houses in Golden Country Homes, Alangilan, Batangas City.<br>
  </p>
  <p class="intro-msg">
    Here in DormAlike, we value and protect your data. This page is intended to help you understand why and how we use the personal data we have collected from you. If you do not agree to any part of this Privacy Policy, then we cannot continue to provide our services to you.
  </p>
  

  <div class="card-ques">
    <h1 class="question"><ion-icon size="default" name="pin-outline"></ion-icon> What information do we collect about you?</h1>
    <p class="answer">
      These are information that you give us, we receive, store and process and that you make available to us when accessing or using our Platform and Services. The examples are as follows:<br><br>
      1.1. Fill-out any form on the platform such as when you register, login, or update your details in your profile.<br><br>
      1.2 Access or use the platform such as searching for a home and reserve a room in a property.<br><br>
      Log and Profile Data <br><br>
      &nbsp;&nbsp;&nbsp;We may also receive, store, and process your log data, which is the information that is automatically recorded in our database whenever you access or use the platform.
    </p>

    <h1 class="question"><ion-icon size="default" name="pin-outline"></ion-icon> How do we use your information?</h1>
    <p class="answer">
      We use, store and process the information about you for the following general purposes:<br><br>
      ☑ To enable you access and use of the application.<br>
      ☑ To enable you to reserve a room, bed space, or &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;house when decided.<br>
      ☑ To perform analytics through visualization.<br>
      ☑ To ensure a trusted and safer environment.<br>
    </p>

    <h1 class="question"><ion-icon size="default" name="pin-outline"></ion-icon> To whom do we disclose your information?</h1>
    <p class="answer">
      When you a submit a reserve request in a specific property, your details such as name, contact number, and email will become visible to the owner of the property you have sent the request to. Upon submitting a request, the owner will contact you to discuss the further details about the reservation fee, monthly fee, and such.<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;When your request is sent, your information such as name, contact number, and email will be disclosed. However, your billing and payout information is outside the scope of the platform.
    </p>

    <h1 class="question"><ion-icon size="default" name="pin-outline"></ion-icon> What do we do to keep your information secure?</h1>
    <p class="answer">
      We are continuously implementing and updating technical and physical security to help protect your personal information against unauthorized access. However, there is no method of storing electronic information to be 100% secure. Thus, we cannot guarantee the absolute security of the personal information that you have provided to us in which we store.
    </p>
  </div>

</ion-content>