<ion-header>
  <ion-toolbar>
    <ion-title>login as </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <ion-card class="logInAs">
    <ion-card-title>ACCESS AS</ion-card-title>

    <ion-card-content class="logInAsButton">     
      <ion-button id="clientLog" [routerLink]="['/']" expand="block" fill="outline"><ion-icon name="person-sharp"></ion-icon>Client</ion-button>
      <ion-button id= "ownerLog" [routerLink]="['/']" expand="block" fill="outline"><ion-icon name="person-sharp"></ion-icon>Owner</ion-button>      
    </ion-card-content>
  </ion-card>

  <div>
    <p> Don't have an account yet? Register</p>
  </div>

  <div class="legalNote">
    <ion-button id="policy" [routerLink]="['/']" size="small" expand="block" fill="none"> Privacy Policy </ion-button>
    <ion-button id="terms" [routerLink]="['/']" size="small" expand="block" fill="none"> Terms and Conditions </ion-button>
  </div>

</ion-content>
