<ion-header>
  <ion-toolbar>
    <ion-title>Login As </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="logo" src="assets/img/logo-monochrome.png"></ion-img>

  <div class="top-cont">
    <div class="back-cont">
      <ion-buttons>
        <button id="back-box" ion-button [routerLink]="['/get-started']">
          <ion-icon id="back" name="chevron-back-outline"></ion-icon>
        </button>
      </ion-buttons>
    </div>

    <div class="skip-cont">
      <ion-button id="skip" [routerLink]="['/home']" fill="none">Skip</ion-button>
    </div>
  </div>

  <ion-card class="logInAs">
    <ion-card-title>Login As</ion-card-title>

    <ion-card-content class="logInAsButton">     
      <ion-button id="clientLog" [routerLink]="['/login-client']" expand="block" fill="outline"><ion-icon name="person-sharp"></ion-icon>Client</ion-button>
      <ion-button id= "ownerLog" [routerLink]="['/login-owner']" expand="block" fill="outline"><ion-icon name="person-sharp"></ion-icon>Owner</ion-button>      
    </ion-card-content>
  </ion-card>

  <div class="bottom-cont">
    <div class="bottom-cont-1">
      <p> Don't have an account yet?</p>
    </div>
    <div class="bottom-cont-2">
      <ion-button id="register" [routerLink]="['/register-as']" fill="none">Register</ion-button>
    </div>
  </div>

  <div class="legalNote">
    <ion-button id="policy" [routerLink]="['/privacy-policy']" size="small" expand="block" fill="none"> Privacy Policy </ion-button>
    <ion-button id="terms" [routerLink]="['/terms-and-conditions']" size="small" expand="block" fill="none"> Terms and Conditions </ion-button>
  </div>

</ion-content>
