<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DormAlike
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/img/logo-monochrome.png"></ion-img>

  <ion-header collapse="condense">
    <div id="menu-account">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content"></ion-menu-button>
      </ion-buttons>

      <ion-searchbar animated showCancelButton="focus" cancelButtonText="Cancel" placeholder="Search for a property"></ion-searchbar>
      
      <ion-toolbar id="account">
        <ion-buttons>
          <button id="prof-box" ion-button [routerLink]="['/profile-client']">
            <ion-icon id="profile" size="large" name="person-circle-outline"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DormAlike</ion-card-title>
      <ion-card-subtitle>feels like your own home</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content id="intro">
      The DormAlike is a mobile marketplace app which contains the different boarding houses in Golden Country Homes, Alangilan, Batangas City.
    </ion-card-content>
  </ion-card>

  <h5>Find A Home</h5>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house1.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Bourbon Bliss</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house2.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Hotel De La Cruise</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house3.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>The Venetian</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house4.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Peninsula</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house5.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>The Palazzo</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house6.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>The Riverwood</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house7.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Serene Stay</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house8.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Grand Hyatt</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house9.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Roosevelt</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-home">
    <ion-img class="images" src="assets/img/house10.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Villa Florence</ion-card-title>
      <ion-card-subtitle class="address"><ion-icon size="small" name="location-sharp"></ion-icon>Street Name, Alangilan, Batangas City</ion-card-subtitle>
      
      <div class="rent-price">
        <div class="rent-price-2">
          <ion-card-subtitle class="rent-starts">Rent starts at</ion-card-subtitle>
        </div>
        <div class="rent-price-3">
          <h2 class="rent-php">Php 2,500</h2>
        </div>
      </div>

      <div class="rate-view-details">
        <div class="rate-view-details-2">
          <h6 id="rating"><ion-icon id="stars" name="star"></ion-icon> 3.0 Homey-rating</h6>
        </div>
        <div class="rate-view-details-3">
          <ion-button class="view-property" [routerLink]="['/house-details']" size="small" shape="round" fill="outline">View Property</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

