ion-menu-button {
    color: #171717;
  }

#prof-box {
  background-color: white;
}

#profile {
  width: 36px;
  height: 36px;
  color: #D15F20;
}
  .card-home {
    background-color: #EEEEEE;
    border-top: 5px solid #c18c5d;
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-img {
    display: block;
    max-width: 250px;
    max-height: auto;
    margin: auto;
  }
  
  #menu-account {
    margin-top: 0px;
    width: 375px;
    display: flex;
    padding-left: 5px;
  }
  
  ion-searchbar {
    width: 1500px;
  
  }
  
  #account {
    padding-top: 10px;
    padding-right: 10px;
  }
  
  #intro {
    text-align: justify;
    font-family: Arial;
    font-size: 14px;
  }
  
  .images {
    padding-top: 12px;
    padding-bottom: 0px;
    width: 450px;
    height: 200px;
    object-fit: cover;
  }
  
  
  h5 {
    font-family: Helvetica; 
    font-size: 25px;
    font-weight: bold;
    padding-left: 15px;
  }
  
  #rating {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
  
  ion-card-title {
    font-size: 23px;
  }
  
  .address {
    text-transform: capitalize;
    font-family: Calibri;
    color: brown;
    font-size: 15px;
  }
  
  .rate-view-details {
    width: 300px;
    height: 45px;
    margin-top: 5px;
  }
  
  .rate-view-details-2 {
    float: left;
    margin-top: 9px;
  }
  
  .rate-view-details-3 {
    float: right;
  }
  
  .rent-starts {
    font-size: 14px;
    color: #404040;
  }
  
  .rent-price {
    width: 300px;
    height: 40px;
    margin-top: 10px;
  }
  
  .rent-price-2 {
    float: left;
    margin-top: 7px;
  }
  
  .rent-price-3 {
    float: right;
  }
  
  .rent-php {
    color: black;
    font-size: 21px;
    font-weight: bold;
    font-family: Verdana;
  }
  
  #stars{
    color: gold;
    width: 17px;
    height: 17px;
  }
  
  .view-property {
    font-size: 14px;
    font-weight: bold;
    width: 160px;
    height: 37px;
    --border-radius: 7px;
    --border-color: white;
    --background: #013220;
    --color: white;
  }